/*
 * Add your Stylesheet contents here
 */
body {
	background-color:black;
}
 
span {
	color: white;
}
 
#remaining-time {
	width: 170px;
	height: 40px;
	position: absolute;
	left: 95px;
	font-size: xx-large;
}

.digits {
	width: 3ex;
	text-align: center;
}

#time {
	font-weight: bold;
	text-align: center;
	width: 138px;
	color: white;
}

#sand {
	background-color: rgb(255, 208, 52);
	position: absolute;
	top: 0;
	bottom: 50%;
	width: 100%;
	z-index: -1;
}

#sand-bottom {
	background-color: rgb(255, 208, 52);
	position: absolute;
	top: 100%;
	bottom: 0;
	width: 100%;
	z-index: -2;
}

:LINK {
	text-decoration: none;
	color: yellow;
}

#hourglass {
	position: absolute;
	top: 80px;
	left: 70px;
	z-index: 100;
	background-color: white;
}